#map {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

@media only screen and (min-width: 1020px) {
  #map {
    width: 1020px;
    height: 700px;
  }
}
